---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
import ContactForm from "~/components/ContactForm.astro";


const links: Array<FooterLink> = [
  {
    url: "https://www.facebook.com/groups/epifaniapsicodrama/",
    description: "Facebook",
    icon: "frameworks/react",
  },
  {
    url: "https://www.youtube.com/@epifaniapsicodrama/",
    description: "Youtube",
    icon: "frameworks/solid",
  },
  {
    url: "https://www.linkedin.com/company/epifania-psicodrama/",
    description: "Linkedin",
    icon: "frameworks/preact",
  },
  {
    url: "https://www.instagram.com/epifaniapsicodrama/",
    description: "Instagram",
    icon: "frameworks/vue",
  },
];
---

<ContactForm />
<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
