---
import { Image } from "astro:assets";
import logomark1 from "~/assets/logomark-1.svg";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<!--
  <Icon name="logomark" class="size-20 text-white md:size-32" />
  Conecta
  con tu
  humanidad.
-->

<section class="relative h-full bg-black">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <!-- Flex con justify-end y un margin-right automático para separarlo del borde derecho -->
  <div class="w-full flex items-center justify-end h-[60vh] sm:h-[70vh] md:h-[80vh]">
    <div
      id="astronaut"
      class="w-20 sm:w-28 md:w-36 max-w-xs mr-auto md:mr-32 sm:mr-20"
    >
      <Image
        class="h-full w-full object-cover"
        src={logomark1}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Logomark principal"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 30px, 0);
    }
  }
  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }
  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      animation: none !important;
    }
    :global(#starfield) {
      display: none !important;
    }
    #splash-bg-fallback {
      display: block !important;
    }
  }
</style>

