<div id="starfield" class="absolute inset-0">
  <img 
    src="Sesio패n de fotos_Fausto Jijo패n Quelal-14.jpg" 
    alt="Sesi칩n de fotos Fausto Jij칩n Quelal" 
    class="w-full h-full object-cover"
  />
</div>
