---
import { Image } from "astro:assets";
import TestimonialImage from "~/assets/Welwy.jpg"; // Cambia por la ruta correcta de tu imagen.
---

<section class="relative bg-[#560576] text-white px-8 py-16 sm:px-16 sm:py-24">
  <div class="max-w-4xl mx-auto text-center">
    <div class="text-4xl sm:text-5xl font-extrabold text-white mb-6">
      <h3 class="inline-block">&ldquo;</h3>
    </div>
    <p class="text-sm sm:text-base leading-relaxed">
      “Hola Nelly y Efi, les saludo y espero que se encuentren bien. Me permito darles mis comentarios sobre el Módulo de Psicodrama que impartieron en el Diplomado de Modelos de la Personalidad y el cual antes que nada agradezco infinitamente. Ha sido un módulo de los más representativos y vivenciales no solo por los ejercicios desarrollados en clase sino por la dinámica en sí del psicodrama. Fue un tema nuevo para mí, de pronto como poco conocedora de los temas de psicología, a veces soy escéptica y me voy de poco a poco, revisando los temas y puedo concretar o no adoptarlo como una herramienta, el psicodrama sí fue el caso, rápidamente me captó, revisé información y cada vez me fue interesando más y más. Revisé que la especialidad dura 3 años y está anotada como uno de mis pendientes en la lista de preparación; por cierto sobre este punto les pediría si me pueden retroalimentar en opción(es) de institucion(es) donde puedo considerar realizarlo. Finalmente puedo concluir que las tres clases cumplieron mis expectativas sobre el tema, en cuanto a: contenido, claridad, experiencia humana y de las expositoras recibí: calidez, paciencia, formalidad y entrega”.
    </p>
    <div class="mt-8">
      <Image
        src={TestimonialImage}
        alt="Welwy Ceja"
        class="w-24 h-24 rounded-full mx-auto mb-4 border-4 border-white object-cover"
      />
      <h3 class="text-lg font-semibold">WELWY CEJA</h3>
      <p class="text-sm">Tanatóloga y Doula</p>
      <p class="text-sm">Michoacán, México</p>
    </div>
  </div>
</section>
